{% extends "layout.html" %}

{% block content %}

 <div class="row">
    <div class="col-md-3" id="daysContainer">
      <button type="button" class="btn btn-success" id="dayBtn">+ Add Day</button>
    </div>

    <div class="col-md-3">
          <h3>Hotels</h3>
          <select id="h-select" class="form-control">
          <button type="button" class="btn btn-default dropdown-toggle btn-lg" data-toggle="dropdown">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          </select>
          <ul class="dropdown-menu" role="menu">

          </ul>
          <button type="button" class="btn btn-primary add-place" id="hAdd" data-place="hotels">Add</button>
    </div>

    <div class="col-md-3">
          <h3>Things to Do</h3>
          <select id="t-select" class="form-control">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          </select>
          <ul class="dropdown-menu" role="menu">

          </ul>
          <button type="button" class="btn btn-primary add-place" id="ttdAdd" data-place="thingsToDo" >Add</button>
    </div>

    <div class="col-md-3">
            <h3>Restaurants</h3>
            <select id="r-select" class="form-control">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            </select>
            <ul class="dropdown-menu" role="menu">
        <!--       //how to get things here// -->
            </ul>
            <button type="button" class="btn btn-primary add-place" id= "restAdd"
            data-place="restaurants">Add</button>
        </div>

  </div><!-- end row -->

  <div class="row">
    <div class="col-md-3" id="day-panel"><h3>Plan</h3>
        <ul id="itin">
        </ul>
    </div>
    <div class="col-md-9" id="map-canvas"><h3>Map</h3></div>
  </div>

{% endblock %}

{% block js %}
<script>
{% autoescape false %}
var data = {
  hotels: {{ hotels | json}},
  thingsToDo: {{ thingsToDo | json}},
  restaurants: {{ restaurants | json}}
};

var selectors = {
    hotels: $("#h-select"),
    thingsToDo: $("#t-select"),
    restaurants: $("#r-select")
  };

//find object instead of just restaurant id.
var findById = function(type, id) {
  for (var i=0; i<data[type].length; i++) {
    if (data[type][i]._id === id) {
      return data[type][i];
    }
  }
};

{% endautoescape %}

var app = new Object {
  currentDay: [],
}

var Day = function() {
    this.days = [],
    this.number = this.days.length+1,
    this.hotels = [],
    this.restaurants = [],
    this.thingsToDo = [],
};

Day.prototype.addActivity = function(type,id) {
};

var $daysContainer = $("#daysContainer");
var $dayPanel = $('#day-panel');

var addDay = function() {
  days.push(Day);

  $("#daysContainer").append("<button data-num= '" + Day.number + "' class='btn btn-success' id='days" + Day.number + "'>Day " + Day.number + "</button>");

  $("#dayBtn" + Day.number).on('click',function() {
      $("#dayBtn").addClass('active');
      var dataNum = $(this).attr('data-num');
      var now = days[dataNum-1];
      app.currentDay = now;
      rerender(now);
  });
};

//Putting in Day 1 here to start the user out
addDay();
// User can then add buttons using 'Add'
  $("#dayBtn").on('click',function() {
    addDay();
  });

//make add selector activities work
$('.add-place').on('click', function(){
  var place = (this).attr('data-place');
// why do we need this line?
  var selector = selectors[place];
  //revisit what selector.val would be
  var id = selector.val;
  if (typeof(app.currentDay) != 'undefined') {
    app.currentDay[place].push(findById(place, id));
    Day.prototype.addActivity.push(findById(place, id));
    }
});

// latlng = data.hotels[hotelNum].place.location[num1, num2];

arrToUl = function (arr) {
  var toReturn = "<ul>";
  arr.forEach(function(el) {
    toReturn += "<li>" + el + "</li>";
  });
  return toReturn + "</ul>";
};

var getLocationsForDay = function(day) {
    var locations = [];
    ['hotels', 'thingsToDo', 'restaurants'].forEach(function(type) {
      day[type].forEach(function(activity) {
        locations.push(activity.place[0]location)
        });
    });
    return locations
}

var maps;

var setMarkers = function(locations) {
//revisit: how does this line work?
  locations.forEach(function(location) {
    new google.maps.Marker({
    position: new google.maps.LatLng(location[0], location[1])
      }).setMap(map)
  });
};

var rerender = function (Day){
  var str = "<h3>Plan for day " + Day.number + "</h3>";
  str += "hotels" + arrToUl(Day.hotels);
  str += "thingsToDo" + arrToUl(Day.thingsToDo);
  str += "restaurants" + arrToUl(Day.restaurants);
  $('#daypanel').html(str);
  $('#map-canvas').initialize_gmaps();
  setMarkers(getLocationsForDay());
};
$('#days').on('click', function () {
  rerender(Day.currentDay);
});

//making menus work------------------------------

var initSelectors = function() {
  var optionFactory = function(obj) {
    return "<option value='" + obj._id + "'>" + obj.name + "</option>";
  };

  var selectAppender = function($select, obj) {
    $select.append(optionFactory(obj));
  };

  for(var type in data) {
    if(data.hasOwnProperty(type)) {
      data[type].forEach(function(obj) {
        selectAppender(selectors[type],obj);
      });
    }
  }
};

initSelectors();

// GOOGLE MAPS CODE ------------------------------------------------//

function initialize_gmaps() {
  // initialize new google maps LatLng object
  var myLatlng = new google.maps.LatLng(40.705786,-74.007672);
  // set the map options hash
  var mapOptions = {
    center: myLatlng,
    zoom: 16,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  // get the maps div's HTML obj
  var map_canvas_obj = document.getElementById("map-canvas");
  // initialize a new Google Map with the options
  var map = new google.maps.Map(map_canvas_obj, mapOptions);
  // Add the marker to the map
  // var marker = new google.maps.Marker({
  //   position: LatLng,
  //   title:"Look here"
  // });
  // // Add the marker to the map by calling setMap()
  // marker.setMap(map);
}

$(document).ready(function() {
  initialize_gmaps();
});

</script>
{% endblock %}

