<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>

    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Trip Planner</a>
        <ul class="nav navbar-nav">
          <li><a href=''>Home</a></li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid">
      {% block content %}{% endblock %}
    </div>
    <script src='/bower_components/jquery/dist/jquery.min.js'></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBddYF6KwYV_xa4FJgKJSn_CwZ-a68-rZM&sensor=true"></script>
    <script src="/javascripts/MarkerCollection.js"></script>
    {% block js %}
  </body>
</html>